.noselect > * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 22px;
  background-color: var(--bar-color);
  color: var(--font-color);
}

.dropdown-menu {
  position:absolute;
  margin-top: 22px;
  right: 0;
  width: 200px;
  background-color: var(--bar-color);
  color: var(--font-color);
}