.game-tab-bar {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  background-color: var(--tab-bar-color);
  width: 100%;
  overflow: auto;
}

.game-tab-bar-inner {
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
}

.tab-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 5px;
  min-width: 80px;
  border-right:2px solid var(--tab-border-color); 
  border-bottom:1px solid var(--tab-border-color);
}

.inactive-tab {
  background-color: var(--tab-bar-item-color);
}

.inactive-tab .tab-text {
  color: var(--font-color);
}

.active-tab {
  background-color: var(--tab-bar-item-highlighted-color);
}

.active-tab .tab-text {
  color: var(--font-highlighted-color);
}