.leftColumn {
  float: left;
  width: 20%;
  background-color: orange;
  min-height: -moz-calc(100vh - var(--used-space-height));
  min-height: -webkit-calc(100vh - var(--used-space-height));
  min-height: calc(100vh - var(--used-space-height));
}

.boardColumn {
  float: left;
  width: 60%;
  background-color: red;
  min-height: -moz-calc(100vh - var(--used-space-height));
  min-height: -webkit-calc(100vh - var(--used-space-height));
  min-height: calc(100vh - var(--used-space-height));
}

.rightColumn {
  float: left;
  width: 20%;
  background-color: blue;
  min-height: -moz-calc(100vh - var(--used-space-height));
  min-height: -webkit-calc(100vh - var(--used-space-height));
  min-height: calc(100vh - var(--used-space-height));
}

.gameRow:after {
  content: '';
  display: table;
  clear: both;
}

.moveSection {
  min-height: -moz-calc(40vh - var(--used-space-height));
  min-height: -webkit-calc(40vh - var(--used-space-height));
  min-height: calc(40vh - var(--used-space-height));
}

.pieceSection {
  min-height: -moz-calc(60vh - var(--used-space-height));
  min-height: -webkit-calc(60vh - var(--used-space-height));
  min-height: calc(60vh - var(--used-space-height));
}

.opponentSection {
  min-height: -moz-calc(40vh - var(--used-space-height));
  min-height: -webkit-calc(40vh - var(--used-space-height));
  min-height: calc(40vh - var(--used-space-height));
}

.chatSection {
  min-height: -moz-calc(60vh - var(--used-space-height));
  min-height: -webkit-calc(60vh - var(--used-space-height));
  min-height: calc(60vh - var(--used-space-height));
}