.itemContainer {
  text-align: inherit;
  white-space: nowrap;
  cursor: default;
}

.item {
  display: flex;
  align-items: center;
  height: var(--bar-height);
  white-space: nowrap;
}

img {
  height: var(--bar-height);
  filter: var(--svg-filter);
}

.large-buttons {
  height:  30px;
  padding: 10px;
  margin: 10px;
}