.navigation-column {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.center-column {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
}

.chat-column {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.home-row:after {
  content: '';
  display: table;
  clear: both;
}