.leftColumn {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.boardColumn {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
}

.learnColumn {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
  max-height: calc(100vh - var(--used-space-height));
  overflow: scroll;
}

.armyColumn {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
  max-height: calc(100vh - var(--used-space-height));
  overflow: scroll;
}

.rightColumn {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.gameRow:after {
  content: '';
  display: table;
  clear: both;
}

.navSection {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.moveHistory {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.opponentSection {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.chatSection {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.selectLesson {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.selectTeam {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.actionSection {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.column30 {
  float: left;
  width: 30%;
}

.column70 {
  float: left;
  width: 70%;
}

.pieceRow:after {
  content: "";
  display: table;
  clear: both;
}

.padded {
  padding: 10px;
  margin: 10px;
}

.armyContainer {
  background-color: var(--army-container-color);
  padding: 10px;
  margin: 10px;
}

.pieceContainer {
  background-color: var(--piece-container-color);
  padding: 5px;
  margin: 5px;
  height: 10px;
}

.pieceCounts {
  display: flex;
  white-space: nowrap;
  width: 100%;
}

p {
  padding-bottom: 15px;
}