.home-logo-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.home-logo {
  height: 20vh;
  justify-content: center;
  padding: 30px;
  user-select: none;
  pointer-events: none;
}

.left-column {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.board-column {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
}

.learn-column {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
  max-height: calc(100vh - var(--used-space-height));
  overflow: scroll;
}

.army-column {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
  max-height: calc(100vh - var(--used-space-height));
  overflow: scroll;
}

.right-column {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.game-row:after {
  content: '';
  display: table;
  clear: both;
}

.nav-section {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.move-history {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.opponent-section {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.chat-section {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.select-lesson {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.select-team {
  min-height: calc(60vh - var(--used-space-height));
  max-height: calc(60vh - var(--used-space-height));
  overflow: scroll;
}

.action-section {
  min-height: calc(40vh - var(--used-space-height));
  max-height: calc(40vh - var(--used-space-height));
  overflow: scroll;
}

.column-30 {
  float: left;
  width: 30%;
}

.column-70 {
  float: left;
  width: 70%;
}

.piece-row:after {
  content: "";
  display: table;
  clear: both;
}

.padded {
  padding: 10px;
  margin: 10px;
}

.vertical-padding-top {
  padding-top: 10px;
}

.vertical-padding-bottom {
  margin-bottom: 30px;
}

.army-container {
  background-color: var(--army-container-color);
  padding: 10px;
  margin: 10px;
  overflow-x: scroll;
}

.piece-container {
  background-color: var(--piece-container-color);
  padding: 5px;
  margin: 5px;
  height: 20px;
}

.piece-container:hover {
  background-color: var(--piece-container-color-tint);
}

.narrow-piece-container {
  background-color: var(--piece-container-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  height: 20px;
}

.narrow-piece-container:hover {
  background-color: var(--piece-container-color-tint);
}

.piece-counts {
  display: flex;
  white-space: nowrap;
  width: 100%;
}

p {
  padding-bottom: 15px;
}