.leftColumn {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.boardColumn {
  float: left;
  width: 60%;
  min-height: calc(100vh - var(--used-space-height));
}

.rightColumn {
  float: left;
  width: 20%;
  min-height: calc(100vh - var(--used-space-height));
}

.gameRow:after {
  content: '';
  display: table;
  clear: both;
}

.navSection {
  min-height: calc(40vh - var(--used-space-height));
}

.moveHistory {
  min-height: calc(60vh - var(--used-space-height));
}

.opponentSection {
  min-height: calc(40vh - var(--used-space-height));
}

.chatSection {
  min-height: calc(60vh - var(--used-space-height));
}