.switch {
  position: relative;
  display: block;
  width: 25px;
  height: 13px;
  margin: 2px;
  border-color: #aaa;
  border-width: 2px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border:1px solid var(--switch-color);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 1px;
  bottom: 1px;
  background-color: var(--switch-color);
  -webkit-transition: .2s;
  transition: .2s;
}

/* input:checked + .slider {
  background-color: #d47a26;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d47a26;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}