@import url('https://fonts.googleapis.com/css?family=Passero+One');

.transition > * {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.theme-light {
  --bar-color: #fff;
  --bar-tint: #dedede;
  --page-color: #ccc;
  --font-color: #000;
  --link-color: #000;
  --svg-filter: brightness(3) invert(0);
}
.theme-dark {
  --bar-color: #000;
  --bar-tint: #333333;
  --page-color: #333;
  --font-color: #fff;
  --link-color: #fff;
  --svg-filter: brightness(0) invert(1);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: #fff;
}

a:hover > * {
  background-color: var(--bar-tint);
}

.page {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--page-color);
  color: var(--font-color);
}

.passero {
  font-family: 'Passero One', regular;
}

.narrow-screen { display: none; }
@media (max-width: 530px) {
  .narrow-screen { display: inline-block; }
  .wide-screen { display: none; }
}

.hidden > * { display:none !important; }

.inline {
  white-space: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.bar-spaced {
  padding-left: 4px;
  padding-right: 4px;
}

.left-group {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.center-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}