@import url('https://fonts.googleapis.com/css?family=Passero+One');

.transition > * {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.game-tab-bar-0 {
  --current-tab-bar-height: 0px;
}
.game-tab-bar-1 {
  --current-tab-bar-height: 23px;
}
.game-tab-bar-2 {
  --current-tab-bar-height: 46px;
}
.game-tab-bar-3 {
  --current-tab-bar-height: 52px;
}

.theme-light {
  --bar-color: #fff;
  --bar-tint: #dedede;
  --page-color: #ccc;
  --page-gradient: linear-gradient(#ddd, #eee);
  --font-color: #000;
  --link-color: #000;
  --tab-bar-color: #ddd;
  --tab-bar-item-color: #fff;
  --tab-border-color: #bbb;
  --switch-color: #000;
  --svg-filter: brightness(3) invert(0);
  --bar-height: 22px;
  --max-tab-bar-height: 52px;
  --used-space-height: -moz-calc(2*var(--bar-height) + var(--current-tab-bar-height));
  --used-space-height: -webkit-calc(2*var(--bar-height) + var(--current-tab-bar-height));
  --used-space-height: calc(2*var(--bar-height) + var(--current-tab-bar-height));

  --board-player-details-color: #bbb;
  --board-primary-color: #ccc;
  --board-secondary-color: #ddd;
}
.theme-dark {
  --bar-color: #000;
  --bar-tint: #333333;
  --page-color: #333;
  --page-gradient: linear-gradient(#222, #333);
  --font-color: #fff;
  --link-color: #fff;
  --tab-bar-color: #222;
  --tab-bar-item-color: #000;
  --tab-border-color: #444;
  --switch-color: #fff;
  --svg-filter: brightness(0) invert(1);
  --bar-height: 22px;
  --max-tab-bar-height: 52px;
  --used-space-height: -moz-calc(2*var(--bar-height) + var(--current-tab-bar-height));
  --used-space-height: -webkit-calc(2*var(--bar-height) + var(--current-tab-bar-height));
  --used-space-height: calc(2*var(--bar-height) + var(--current-tab-bar-height));

  --board-player-details-color: #444;
  --board-primary-color: #333;
  --board-secondary-color: #222;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover > * {
  background-color: var(--bar-tint);
}

.on-click-link {
  color: var(--link-color);
  text-decoration: none;
}

.on-click-link:hover > * {
  background-color: var(--bar-tint);
}

.page {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: var(--bar-height);
  padding-bottom: var(--bar-height);
  background-image: var(--page-gradient);
  background-attachment: fixed;
  color: var(--font-color);
}

.passero {
  font-family: 'Passero One', regular;
}

.narrow-screen { display: none; }
@media (max-width: 700px) {
  .narrow-screen { display: inline-block; }
  .wide-screen { display: none; }
}

.full-size {
  z-index: 2;
  width: 100vw;
  height: 100%;
  max-height: 100%;
}

.no-select > * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden > * { display:none !important; }

.inline {
  white-space: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.bar-spaced {
  padding-left: 4px;
  padding-right: 4px;
}

.all-spaced > * {
  padding-left: 4px;
  padding-right: 4px;
}

.left-group {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.center-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}